.comportable {
    width: 100%;
    background: #6F764D;
    z-index: 2;
    margin-top: -3px;
}
.comportable__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    @media (max-width: 1139px) {
        justify-content: space-evenly;
    }
    @media (max-width: 799px) {
        flex-direction: column;
    }
}
.comportable__heading {
    margin-top: 263px;
    margin-bottom: 273px;
    padding-right: 15px;
    @media (max-width: 1139px) {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0px 15px 0px 0px;
    }
    @media (max-width: 799px) {
        text-align: center;
        padding: 0;
    }
}
.comportable__title {
    font-family: 'Rammetto One', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 109.1%;
    color: #FFFFFF;
    margin-bottom: 17px;
    @media (max-width: 1139px) {
        font-size: 30px;
    }
}
.comportable__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #EDEDED;
    @media (max-width: 1139px) {
        font-size: 12px;
    }
}
.comportable__blog {
    display: flex;
    @media (max-width: 1139px) {
        padding: 50px 0px;
    }
    @media (max-width: 799px) {
        padding: 0px 0px 50px 0px;
    }
    @media (max-width: 549px) {
        flex-direction: column;
        text-align: center;
    }
}
.comportable__blog-item {
    width: 276px;
    height: 436px; 
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px 25px;
    transition: 0.3s;
    @media (max-width: 1139px) {
        width: 230px;
        height: 330px;
        padding: 0px 15px;
    }
    @media (max-width: 549px) {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
}
.comportable__blog-item:hover {
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    background: #5d6920;
}
.comportable__blog-img {
    margin-top: 47px;
    margin-bottom: 27px;
    @media (max-width: 1139px) {
        width: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.comportable__blog-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 109.1%;
    color: #FFFFFF;
    margin-bottom: 21px;
    padding-right: 70px;
    @media (max-width: 1139px) {
        font-size: 20px;
    }
    @media (max-width: 549px) {
        padding: 0;
    }
}
.comportable__blog-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: justify;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 30px;
    @media (max-width: 1139px) {
        font-size: 12px;
    }
    @media (max-width: 549px) {
        text-align: center;
    }
}
.comportable__blog-arrow {
    display: block;
    @media (max-width: 1139px) {
        width: 50px;
    }
    @media (max-width: 549px) {
        display: inline-block;
        text-align: center;
        padding-bottom: 20px;
    }
}
.comportable__blog-item_background {
    width: 276px;
    height: 436px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 45px;
    transition: 0.3s;
    @media (max-width: 1139px) {
        width: 230px;
        height: 330px;
    }
    @media (max-width: 549px) {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
.comportable__blog-item_background:hover {
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    background: #EDEDED;
}
.comportable__blog-img_background {
    margin-top: 47px;
    margin-bottom: 27px;
    @media (max-width: 1139px) {
        width: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.comportable__blog-title_background {
    font-weight: 700;
    font-size: 24px;
    line-height: 109.1%;
    color: #000000;
    margin-bottom: 21px;
    padding-right: 60px;
    @media (max-width: 1139px) {
        font-size: 20px;
    }
    @media (max-width: 549px) {
        padding: 0;
    }
}
.comportable__blog-text_background {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: justify;
    color: #6C6C6C;
    margin-bottom: 30px;
    @media (max-width: 1139px) {
        font-size: 12px;
    }
    @media (max-width: 549px) {
        text-align: center;
    }
}
.comportable__blog-arrow_background {
    display: block;
    @media (max-width: 1139px) {
        width: 50px;
    }
    @media (max-width: 549px) {
        display: inline-block;
        text-align: center;
        padding-bottom: 20px;
    }
}