.main {
    width: 100%;
    margin-top: 79px;
    @media (max-width: 799px) {
        position: relative;
        margin-top: 150px;
    }
}
.main__container {
    max-width: 1303px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 1139px) {
        justify-content: space-evenly;
        align-items: center;
    }
    @media (max-width: 799px) {
        margin-top: 220px;
    }
}
.logo__products {
    display: block;
    position: relative;
    @media (max-width: 1139px) {
        width: 250px;
    }
    @media (max-width: 799px) {
        width: 200px;
    }
    @media (max-width: 549px) {
        width: 100%;
        padding-right: 10px;
    }
}
.logo__products-arrow {
    position: absolute;
    top: 29px;
    right: 45px;
    @media (max-width: 1139px) {
        top: -20px;
        right: 20px;
    }
    @media (max-width: 799px) {
        top: 10px;
        right: 0;
    }
    @media (max-width: 549px) {
        width: 30%;
        right: 30px;
    }
}
.logo__products-text {
    position: absolute;
    top: 54px;
    right: -20px;
    font-family: 'Devonshire', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.6%;
    color: #6F764D;
    @media (max-width: 1139px) {
        top: 5px;
        right: -30px;
    }
    @media (max-width: 799px) {
        top: 40px;
        right: -50px;
    }
    @media (max-width: 549px) {
        right: -10px;
        font-size: 3vw;
        line-height: 0;
    }
}
.main__info {
    position: relative;
    display: block;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 80px;
    @media (max-width: 1139px) {
        margin: 0;
    }
    @media (max-width: 799px) {
        position: absolute;
        top: 0;
    }
    @media (max-width: 549px) {
        font-size: 7vw;
    }
}
.info__likes {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 211px;
    height: 45px;
    right: 0;
    top: -42px;
    padding: 0;
    @media (max-width: 1139px) {
        width: 140px;
        height: 30px;
        margin: 0;
    }
    @media (max-width: 799px) {
        right: 50px;
    }
}
.info__likes-stars {
    margin-top: 7px;
    @media (max-width: 1139px) {
        width: 70px;
    }
}
.info__likes-buble {
    display: block;
    @media (max-width: 1139px) {
        width: 60px;
    }
}
.info__likes-num {
    position: absolute;
    top: 8px;
    right: 13px;
    font-weight: 600;
    font-size: 15px;
    line-height: 157.39%;
    color: #FFFFFF;
    @media (max-width: 1139px) {
        font-size: 9px;
    }
}
.main__info-title {
    font-weight: 400;
    font-size: 60px;
    line-height: 109.1%;
    font-family: 'Rammetto One', cursive;
    color: #000000;
    margin-bottom: 32px;
    @media (max-width: 1139px) {
        font-size: 35px;
        margin-bottom: 10px;
    }
    @media (max-width: 549px) {
        font-size: 7vw;
    }
}
.colortext {
    color: #6F764D;
}
.main__info-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6C6C6C;
    margin-bottom: 30px;
    @media (max-width: 1139px) {
        font-size: 12px;
    }
    @media (max-width: 549px) {
        font-size: 2.5vw;
    }
}
.main__info-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1139px) {
        justify-content: space-evenly;
    }
}
.main__info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 45px;
    background: #6F764D;
    font-weight: 700;
    font-size: 18px;
    line-height: 109.1%;
    color: #FFFFFF;
    margin-left: 19px;
    transition: 0.3s;
    @media (max-width: 1139px) {
        width: 100px;
        height: 40px;
        margin: 0;
        font-size: 15px;    
    }
    @media (max-width: 799px) {
        width: 140px;
    }
    @media (max-width: 549px) {
        width: 40%;
        font-size: 3vw;
    }
}
.main__info-btn:hover {
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    background: #6b743e;
    color: #000000;
}
.main__info-btn_border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 45px;
    border: 1px solid #000000;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 109.1%;
    color: #000000;
    @media (max-width: 1139px) {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
    @media (max-width: 799px) {
        width: 140px;
    }
    @media (max-width: 549px) {
        width: 40%;
        font-size: 3vw;
    }
}
.main__info-btn_border:hover {
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    background: #EDEDED;
    color: #000000;
}
.logo__influncer {
    display: block;
    position: relative;
    @media (max-width: 1139px) {
        width: 250px;
    }
    @media (max-width: 799px) {
        width: 200px;
    }
    @media (max-width: 549px) {
        width: 100%;
        padding-left: 10px;
    }
}
.logo__influncer-arrow {
    position: absolute;
    top: 8px;
    left: 59px;
    @media (max-width: 1139px) {
        top: -10px;
        left: 35px;
    }
    @media (max-width: 549px) {
        width: 30%;
    }
}
.logo__influncer-text {
    position: absolute;
    top: 26px;
    left: 30px;
    font-family: 'Devonshire', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.6%;
    color: #6F764D;
    @media (max-width: 1139px) {
        top: 10px;
        left: 10px;
    }
    @media (max-width: 549px) {
        font-size: 3vw;
        line-height: 0;
    }
}