.studies {
    width: 100%;
    margin-top: 120px;
    @media (max-width: 799px) {
        margin-top: 50px;
    }
}
.studies__container {
    display: block;
}
.studies__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    @media (max-width: 799px) {
        margin-bottom: 30px;
    }
}
.studies__title-text {
    font-family: 'Rammetto One', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 113.6%;
    color: #000000;
    margin-bottom: 7px;
    @media (max-width: 799px) {
        font-size: 30px;
    }
}
.studies__title-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 113.6%;
    color: #6F764D;
    transition: 0.3s;
    @media (max-width: 799px) {
        font-size: 18px;
    }
}
.studies__title-link:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: -4px -4px #6F764D, -4px -4px #6F764D;
    border-radius: 5px;
}
.studies__title-arrow {
    margin-left: 8px;
}
.studies__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 799px) {
        flex-direction: column-reverse;
    }
}
.studies__info {
    width: 330px;
    display: block;
    @media (max-width: 799px) {
        width: 100%;
        text-align: center;
    }
}
.studies__info-logo {
    max-width: 100%;
    margin-bottom: 26px;
}
.studies__info-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6C6C6C;
    margin-bottom: 17px;
    @media (max-width: 799px) {
        font-size: 13px;
    }
}
.studies__info-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #6F764D;
    transition: 0.3s;
    @media (max-width: 799px) {
        font-size: 13px;
    }
}
.studies__info-link:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: -4px -4px #6F764D, -4px -4px #6F764D;
    border-radius: 5px;
}
.studies__numbers {
    width: 583px;
    height: 176px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin-left: 30px;
    @media (max-width: 799px) {
        margin-left: 0;
        margin-bottom: 30px;
        align-content: space-around;
    }
    @media (max-width: 549px) {
        width: 100%;
    }
}
.studies__numbers-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 799px) {
        justify-content: space-evenly;
    }
    @media (max-width: 549px) {
        padding: 5px;
    }
}
.studies__numbers-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 799px) {
        justify-content: space-evenly;
    }
    @media (max-width: 549px) {
        padding: 5px;
    }
}
.studies__numbers-num {
    font-weight: 700;
    font-size: 28px;
    line-height: 109.1%;
    text-align: center;
    color: #6F764D;
    @media (max-width: 799px) {
        font-size: 20px;
    }
    @media (max-width: 549px) {
        padding: 5px;
    }
}
.studies__numbers-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 109.1%;
    text-align: center;
    color: #6C6C6C;
    @media (max-width: 799px) {
        font-size: 13px;
    }
}