.waiting {
    width: 100%;
    margin-top: 120px;
    position: relative;
    @media (max-width: 989px) {
        margin-top: 50px;
    }
}
.waiting__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    @media (max-width: 989px) {
        flex-direction: column;
    }
}
.waiting__info {
    min-width: 532px;
    display: block;
    margin-right: 7px;
    @media (max-width: 989px) {
        min-width: 400px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        min-width: 0;
    }
}
.waiting__info-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 109.1%;
    color: #6F764D;
    margin-bottom: 14px;
}
.waiting__info-title {
    font-family: 'Rammetto One', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 113.6%;    
    color: #000000;
    margin-bottom: 24px;
    @media (max-width: 799px) {
        font-size: 30px;
    }
}
.waiting__info-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6C6C6C;
    margin-bottom: 39px;
    @media (max-width: 799px) {
        font-size: 12px;
    }
}
.waiting__info-line {
    display: block;
}
.waiting__gallery {
    @media (max-width: 989px) {
        margin-top: 50px;
    }
    @media (max-width: 799px) {
        width: 600px;
        position: relative;
        justify-content: center;
        overflow: hidden;
    }
    @media (max-width: 629px) {
        width: 400px;
    }
}
.waiting__gallery-shadow {
    position: absolute;
    width: 795px;
    height: 369px;
    background: linear-gradient(270deg, #FFFFFF 1.46%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    transition: all 0.3s ease 0s;
    @media (max-width: 629px) {
        height: 260px;
    }
}
.waiting__gallery-shadow:hover {
    opacity: 0;
}
.waiting__gallery-img {
    padding: 0px 20px 20px 0px;
    @media (max-width: 629px) {
        width: 140px;
        height: 140px;
    }
}

//----------SLIDER----------//
/* Слайдер */
.slick-slider{
    display: block;
}
/* Ограничивающая оболочка */
.slick-list {
    width: 791px;
    height: 369px;
    overflow: hidden;
    @media (max-width: 629px) {
        width: inherit;
        height: inherit;
    }
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
